* {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
body {
  background: #1c1a19;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #1c1a19 0%, #232323 56%, #000000 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #1c1a19), color-stop(56%, #232323), color-stop(100%, #000000));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg, #1c1a19 0%, #232323 56%, #000000 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, #1c1a19 0%, #232323 56%, #000000 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, #1c1a19 0%, #232323 56%, #000000 100%);
  /* IE10+ */
  background: linear-gradient(135deg, #1c1a19 0%, #232323 56%, #000000 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1c1a19', endColorstr='#000000', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
  font-family: 'Elsie Swash Caps', cursive;
}
.hidden {
  display: none;
}
